
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
	<table class="table table-bordered table-hover">
           <tr>
			   <th>Name</th>
			   <th>Email</th>
			   <th>Phone</th>
			   <th>Date</th>
		   </tr>
	</table>
</div>

